
/* video header */
.video-background-holder {
  position: relative;
  background-color: #fff;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 300px;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}

#home{
  background-color: #F5EFE6;
}
/* Sign up newsletter */
.newsletter {
  padding: 40px 0;
  background: #F5EFE6;
}
  
.newsletter .content {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}

.newsletter .content .form-control {
  height: 40px;
  border-color: #7895B2;
  border-radius:0;
}

.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #7895B2;
}

.newsletter .content .btn {
  min-height: 40px; 
  border-radius:0;
  background: #7895B2;
  color: #fff;
  font-weight:600;
}

#thankyoumessage {
  display: none;
}

/* History page */
.intro {
  margin: 40px 200px 40px 200px;
  text-align: justify;
}

/* history carousel */

.historyTxt{
  color: #7895B2;
  text-align: center;
  font-size: 2rem;
}

.historyDesc{
  font-size: 1rem;
  color: #AEBDCA;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.carouselLayout{
  margin: auto;
  width: 60%;

}

/*TESTIMONIALS PAGE*/
.img-testimonials {
  display: flex;
  object-fit: cover;
  height: 22vh;
}

/*THANK YOU PAGE*/
.fullheight{
  height: 50vh;
  display: flex;
}
.historyContainer{
  position: relative;
  text-align: center;
  color: #F5EFE6;
}

.textBox{
  position: absolute;
  background-color: #AEBDCA;
  padding: 5px;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Centered text */
.centered {
  position: absolute;
}
.carouselContainer{
  background-color: #F5EFE6;
}



